.card {
    padding: 10px;
    width: 100%;
}

.cardRank {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.cardImg {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.cardTitle {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    width: 250px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cardSinger {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    width: 100px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}